body {
    background-color: rgb(102, 100, 100);
    /* display: flex;
    justify-content: flex-end; */
    /* align-items: flex-start; */
    height: 100vh;
    margin: 0;
}

.form-container {
    
    width: 100%;
    max-width: 600px; 
}

.container {
    margin: 2rem;
    display: flex;
    justify-content:center;
}

.formation-field {

    padding-left: 0%;
    margin-right: 2rem;
    box-sizing: border-box;
    width: 300rem;
    height: 110vh;
    background-image: url('/assets/img/stadium_background.webp');
    background-size: cover; 
    background-position: center; 
    color: white; 
    text-align: center; 
    display: grid;
    justify-content: center;
}

#player-card1 {
    
     
    transform: translate(-14rem, 2rem);
}

#player-card2 {

    
    
    transform: translate(0rem, -10rem);
}
#player-card3 {
   
    
    transform: translate(14rem, -20rem);
}
#player-card4 {
    
    
    transform: translate(-18rem, -19rem);
}
#player-card5 {
   
    
    transform: translate(0rem, -28rem);
}
#player-card6 {
    
     
    transform: translate(18rem, -41rem);
}
#player-card7 {
   
     
    transform: translate(-25rem, -42rem);
}
#player-card8 {
    
    
    transform: translate(-12rem, -50rem);
}
#player-card9 {
   
    
    transform: translate(12rem, -61rem);
}
#player-card10 {
    
    
    transform: translate(25rem, -75rem);
}
#player-card11 {
    
    
    transform: translate(0rem, -73rem);
    
}

.bench {

    background-color: rgb(96, 0, 0);
    border: solid 2px;
    border-radius: 20px;
    margin: 2rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;

    
}

.player-card {
    
    width: 9rem;
    height: 11rem;
    background-image: url('/assets/img/badge_gold.webp');
    background-size: cover; 
    background-position: center; 
    color: white; 
    text-align: center;
}
.rate-position {
    display: flex;
    flex-direction: column;
    width: 1rem;
    font-size: 12px;
    font-weight: bold;
    color: black;
    transform: translate(1.5rem, 1.5rem);
}
.player-photo{
    width: 6rem;
    height: 3rem;
    font-size: x-small;
    transform: translate(2.3rem, -1rem);
    
}
.player-name {

    width: 4rem;
    height: 1rem;
    font-size: 15px;
    font-weight: bold;
    color: black;
    transform: translate(2.2rem, 1.7rem);
}
.p-stats{
    display: flex;
    flex-direction: row;
    gap: 3px;
    font-size: 8px;
    font-weight: 700;
    color: black;
    transform: translate(1.3rem,2rem);
}
.stats-num{
    display: flex;
    flex-direction: row;
    gap: 9px;
    font-size: 8px;
    font-weight: 700;
    color: black;
    transform: translate(1.35rem,1.8rem);

}
.logos{
    display: flex;
    flex-direction: row;
    gap: 7px;
    transform: translate(3.2rem,1.7rem);
}
.country-logo{
    width: 1rem;
    height: 0.5rem;
    
}
.team-logo{
    width: 1rem;
    height: 0.4rem;
}


